



.container-fluid.d-flex {
    min-height: 80px;
    height: 10vh;
    max-width: 80vw;
    border-bottom: 1px solid #CCC;
    padding: 0;
    
    align-items: center;
    justify-content: center;
    align-content: space-between;
}
.navbar, .navbar-expand-lg, .bg-body-tertiary{
    padding: 0;
    height: 100%;
    background-color: #fff !important;
}

.navbar-nav ul, li{
    padding: 0 20px 0 20px;
}
.navbar-nav{
    height: 100%;
    align-items: center;
}

#navbarNav{
    height: 100% !important;
}
#navbarNav ul li{
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
#navbarNav ul li:hover{
    border-bottom: 2px solid #D2691E;
}
.cart-profile, .img-profile {
    margin-left: 30px;
    cursor: pointer;
    max-height: 50px;
    align-items: center;
    
}
.img-profile{
    border: 2px solid rgba(0, 0, 0, 0);
}
.img-profile:hover{
    border: 2px solid #D2691E;
    border-radius: 40px;
}
 .btn-primary{
    background-color:  rgba(0, 0, 0, 0);
    border: none;
 }
 .btn-primary:hover{
    background-color: rgba(0, 0, 0, 0);
 }

.modal{
    margin-left: -10%; 
    margin-top: 4rem;
}
.main-img {
    max-width: 300px;
}
.col .img-mini{
    max-width: 300px;
    justify-content: center;
    padding: 10px;
}
.col .img-mini img{
    margin: 10px;
    max-width: 60px;
}

@media screen and (max-width: 768px) {
    .container-fluid .navbar-toggler{
        
    }

}